# Binários
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Arquivos temporários
temp_*
*.tmp
*.temp

# Logs
*.log

# Dependências
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Arquivos de teste
test_*
*.test
